<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProfPilot✈️: Lecture Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/lecture/lecture_detail.css">
    <script type="text/javascript" src="/js/lecture/lecture_detail.js"></script>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th style="width:20%">강의명</th>
                <th style="width:5%">강의실</th>
                <th style="width:10%">수업요일</th>
                <th style="width:10%">수업시작</th>
                <th style="width:10%">수업종료</th>
                <th style="width:10%">교수</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td th:text="${lecture.name}"></td>
                <td th:text="${lecture.Room}"></td>
                <td th:text="${lecture.LectureDay}"></td>
                <td th:text="${lecture.startTime}"></td>
                <td th:text="${lecture.endTime}"></td>
                <td th:text="${lecture.professor.getName()}"></td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h5 class="my-3 border-bottom pb-2">강의 목록</h5>

    <table class="table">
        <thead>
            <tr>
                <th style="width:5%">출석</th>
                <th style="width:10%">출석룰</th>
                <th style="width:10%">학습자료</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" th:each="flight : ${flightList}">
                <td><button class="btn btn-primary">출석</button>
                <td th:each="file : ${flight.files}">
                    <a th:href="@{/download/{fileName}(fileName=${file})}" th:text="${file}"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <br><br>
    <div class="delete-lecture">
        <button class="btn btn-danger" onclick="openModal()" th:if="${userRole != 'prof'}" >Delete Lecture</button>
        <div id="lecture-popup" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>정말 삭제하시겠습니까?</p>
                <!-- @GetMapping("/delete/{name}") -->
                <a th:href="@{/lecture/delete/{name}(name=${lecture.id})}">
                    <button class="btn btn-danger">삭제</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
