<!DOCTYPE html>
<html layout:decorate="~{utils/layout}">
<head>
    <meta charset="UTF-8">
    <title>ProfPilot✈️: Lecture list</title>
</head>
<body>
    <br><br><br><br><br><br>
    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th style="width:5%">번호</th>
                <th style="width:20%">강의명</th>
                <th style="width:5%">강의실</th>
                <th style="width:10%">수업시작</th>
                <th style="width:10%">수업종료</th>
                <th style="width:10%">교수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="lecture, loop : ${lectureList}">
                <div class="lecture_board">
                    <td th:text="${loop.index + 1}"></td>
                    <td><a th:href="@{/lecture/enter(name=${lecture.name})}" th:text="${lecture.name}"></a></td>
                    <td th:text="${lecture.Room}"></td>
                    <td th:text="${lecture.startTime}"></td>
                    <td th:text="${lecture.endTime}"></td>
                    <td th:text="${lecture.professor.getName()}"></td>
                </div>
            </tr>
            </tbody>
        </table>
        <div class="create-class" th:if="${userRole == 'prof'}">
            <a th:href="@{/lecture/create}">
                <button class="btn btn-primary">create Lecture</button>
            </a>
        </div>
    </div>
</body>
</html>
