<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="attendance-notice">
        <span>출석 여부: </span>
        <span th:text="${attendance.status}"></span>
    </div>
    <div th:if="${attendance.status == '결석'}">
        <button onclick="getLocation()">출석하기</button>
        <script th:inline="javascript">
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(sendLocationToServer);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }

            function sendLocationToServer(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var id = '[[${flight.id}]]';
                param = {
                    id: id,
                    latitude: latitude,
                    longitude: longitude
                };
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    url: 'http://localhost:8080/lecture/check_in_flight',
                    data: param,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        if (token && header)
                            xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {
                        console.log('Location sent successfully.');
                    },
                    error: function(error) {
                        console.error('Failed to send location:', error);
                    }
                });
            }
        </script>
    </div>
    <div th:if="${attendance.status != '결석'}">
        <a th:href="@{|/lecture/boarding/${flight.id}|}">강의 입장</a>
    </div>
    <div>
        <a th:href="@{|/lecture/flight/${flight.id}|}">강의 목록</a>
    </div>
</body>
</html>

